# 다놓침미안한데 알아서해라 3. 사용자 정의함수 & 호춯

In [1]:
a = 5 #int
print(type(a))
a="foo"
print(type(a))

<class 'int'>
<class 'str'>

5. 형변환
* int()
* float()
* bool()
*

In [2]:
#"5" + 5 #자동형변환이 불가능하므로 에러호출됨

"5"+"5"

'55'

In [4]:
a =4.5
b=2
#String formatting. to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a/b

a is <class 'float'>, b is <class 'int'>

2.25

In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

6/ 내장함수
isinstance()

In [5]:
?isinstance

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

In [8]:
a=5
b=4.5
isinstance(a,(int,float))
isinstance(b,(int,float))

True

In [2]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

In [3]:
a = [1, 2, 3]

In [4]:
b = a
b

In [5]:
a.append(4)
b

In [6]:
def append_element(some_list, element):
    some_list.append(element)

In [7]:
data = [1, 2, 3]
append_element(data, 4)
data

In [8]:
a = 5
type(a)
a = "foo"
type(a)

In [9]:
"5" + 5

In [10]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

In [11]:
a = 5
isinstance(a, int)

In [12]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

In [13]:
a = "foo"

In [14]:
getattr(a, "split")

# 7. 내장함수 : iter()
* str
* list
* tuple

In [1]:
def isiterable(obj):
    try:
        iter(obj) #obj가 iter-순차처리- 가능한 객체인지 물어보는 것
        return True
    except TypeError: # not iterable
        return False

In [2]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

False

In [3]:
5 - 7
12 + 21.5
5 <= 2

False

8. key word : is, is not
* is:ㄷㅜ개의객체의동일여부확인
* is not : 두개의 객체가 상이한지 확인

In [5]:
a = [1, 2, 3]
b = a
c = list(a) #새객체생성
c
a is b
a is c
a is not c

True

In [6]:
a == c # '==' 는 .....객체의 내용을 비교함

True

# 9. none 객체

In [8]:
a = None
a is None
print(a)

None

# 10. list 자료형
* iterable 객체
* vr = []
* vr = list()
* mutable 객체
  *수정,삭제,추가
  *조회 : 인덱싱
      *변수명[정수]
  *추출 : 슬라이싱
      *변수명[start:end:step]

In [9]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

# *11. tuple 자료형
* iterable 객체
* vr = ()
* vr = tuple()
* immutable 객체
  *수정,삭제,추가
  *조회 : 인덱싱
      *변수명[정수]
  *추출 : 슬라이싱
      *변수명[start:end:step]
  *메서드
  *tup.count()

In [10]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four" #수정불가 immutal

TypeError: 'tuple' object does not support item assignment

In [23]:
ival = 17239871
ival ** 6

In [24]:
fval = 7.243
fval2 = 6.78e-5

In [25]:
3 / 2

In [26]:
3 // 2

# 12. str 자료형
* iterable 객체
* vr = ""
* vr = str("")
* immutable 객체
* 
  *조회 : 인덱싱
      *변수명[정수]
  *추출 : 슬라이싱
      *변수명[start:end:step]
*ㅁㅔ소드 :
    *str.count()
  *str.replace()

In [14]:
c = """
This is a longer string that
spans multiple lines
"""

In [15]:
c.count("\n") #3

3

In [16]:
a = "this is a string"
a[10] = "f"

TypeError: 'str' object does not support item assignment

In [17]:
b = a.replace("string", "longer string")
b
a

'this is a string'

In [18]:
a = 5.6
s = str(a)
print(s)

5.6

In [29]:
s = "python"
list(s)
s[:3] #t스타트지정안해줫으니까 앞에서부터. 문법에ㅏㅈ추자면 s[0:3:1]

'pyt'

In [34]:
s = "12\\34"
print(s)

In [35]:
s = r"this\has\no\special\characters"
s

In [30]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

### <문자열포맷방법>

In [34]:
template = "{0:.2f} {1:s} are worth US${2:d}"# method1

In [35]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [36]:
amount = 10 #method2
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [37]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

# 13.문자열 인코딩/디코딩
* str.encoding()
* str.decoding()

In [38]:
val = "español"
val

'español'

In [40]:
val_utf8 = val.encode("utf-8")
val_utf8
# type(val_utf8)

b'espa\xc3\xb1ol'

In [43]:
val_utf8.decode("utf-8")

In [44]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

# 14. BOOL

In [41]:
True and True
False or True

True

In [42]:
int(False) #0
int(True) #1

1

In [44]:
a = True
b = False
not a
# not b

False

In [45]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [46]:
a = None
a is None
b = 5
b is not None

True

# 15. 시계열데이터처리
* datetime|
* datetime.timedelta

In [47]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [48]:
dt.date()
#dt.time()

datetime.date(2011, 10, 29)

In [49]:
dt.strftime("%Y-%m-%d %H:%M") #ㅇㅣ와같은포맷으로 문자열을 만들겟다

'2011-10-29 20:30'

In [50]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [51]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [52]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [54]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)
print(delta)

17 days, 1:59:39

In [55]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [58]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

In [59]:
4 > 3 > 2 > 1

In [60]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

# 16. generator함수 
* range()
* enmruate()
* zip()
* map()

In [56]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [58]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [59]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668